# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
dist/
dist-electron/

# Electron build output
release/

# Profile
.rspack-profile-*/

# IDE
.vscode/*
!.vscode/extensions.json
.idea

src/config/tabs.*