.@{less-name}-main-page {
  display: flex;
  height: 100vh;

  //   .@{less-name}-left-nav {
  //     flex-basis: 200px;
  //   }

  .@{less-name}-right-page {
    // flex: 1;
    min-width: 0;
    // display: flex;
    // flex-direction: column;
  }

  .@{less-name}-page-container {
    flex: 1;
    overflow: auto;
  }
}
