@import "~asset/less/variable";

.ro-websit-container {
  .ro-main-container {
    display: flex;
    height: calc(100vh - 60px);

    .ro-main-menus {
      width: 200px;

      > ul {
        height: 100%;
        background-color: @main-body-background-color;
      }
    }

    .ro-main-body {
      flex-grow: 1;
      padding: 10px 20px 10px 10px;
      border: 1px solid #eeeef0;
      background-color: @main-body-background-color;
    //   background: linear-gradient(145deg, #f3f4f7, #dfe0e5);
    }
  }
}
