.ro-echarts-module {
  color: inherits;
  overflow: hidden;

  .ec-container-box {
    position: relative;
    // width: 180px;
    // height: 90px;
    width: 280px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;

    // .ec-container-desc {

    // }
  }

  .ec-children-box {
    position: relative;
    height: 90px;
    width: 260px;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;

    .ec-children-desc {
      position: absolute;
      right: -120%;
      top: -50%;
      margin: 5px;
      padding: 5px;
      border: 1px solid #ccc;
    }
  }
}
