.ro-login-module {
  background-color: #fff;
  height: 100%;

  .ro-logo {
    text-align: center;
    padding-top: 8rem;

    img {
      height: 1.5rem;
    }
  }

  .ro-login-container {
    display: flex;
    margin-top: 3rem;
    align-items: center;
    flex-direction: column;

    input,
    button {
      height: 2rem;
      width: 15rem;
      margin-top: 1rem;
      flex-shrink: 0;
      border-radius: 0.2rem;
    }

    input {
      background: #f7f7f7;
    }

    button {
      background: #fcca00;
      margin-top: 1.6rem;
      color: #fff;
    }
  }
}
