.ro-page-modal {
  color: initial;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: 0;
  background: rgba(0, 0, 0, 0.30);
  z-index: 10000;
}

.ro-page-modal-container {
  .ant-modal-header {
    cursor: move;
    background: #313131;
    padding: 9px 10px;
  }

  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-close {
    margin: 0;
    min-width: 40px;
    color: #fff;

    &:hover {
      background: rgb(255 255 255 / 10%);
    }
  }

  .ant-modal-close-x {
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  .ant-modal-title {
    color: #fff;
  }
}
