.ro-page-drag-panel-masx {
  color: initial;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: 0;
  background: rgb(0 0 0 / 30%);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;

  .ro-drag-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background: #313131;
    color: white;
    font-size: 14px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 22%), 0 1px 4px rgb(0 0 0 / 22%);
    cursor: move;

    .ro-drag-header-title {
      margin-left: 10px;
    }

    > span {
      width: 40px;
      line-height: 40px;
      cursor: pointer;

      &:hover {
        background: rgb(255 255 255 / 10%);
      }
    }
  }
}

.ro-page-modal-container {
  .ant-modal-header {
    cursor: move;
    background: #313131;
    padding: 9px 10px;
  }

  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-close {
    margin: 0;
    min-width: 40px;
    color: #fff;

    &:hover {
      background: rgb(255 255 255 / 10%);
    }
  }

  .ant-modal-close-x {
    height: 40px;
    width: 40px;
    line-height: 40px;
  }

  .ant-modal-title {
    color: #fff;
  }
}
