.ro-page-table {
  color: inherit;
  padding: 0 10px;
  height: 100%;

  .react-resizable {
    position: relative;
    background-clip: padding-box;
  }

  .ro-table-header-resizable {
    position: absolute;
    right: -5px;
    bottom: 0;
    z-index: 1;
    width: 10px;
    height: 100%;
    cursor: col-resize;
  }
}

.ro-page-empty {
  color: rgb(0 0 0 / 50%);
  text-align: center;

  a {
    color: #1890ff;
    margin: 0 3px;
    user-select: none;

    &:hover {
      color: #1890ff;
    }
  }
}

.ro-page-header {
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;

  .ro-header-btns {
    display: flex;
  }
}
