.ro-page-table {
  color: inherit;
  padding: 0 10px;
  height: 100%;
}

.ro-page-empty {
  color: rgb(0 0 0 / 50%);
  text-align: center;

  a {
    color: #1890ff;
    margin: 0 3px;
    user-select: none;

    &:hover {
      color: #1890ff;
    }
  }
}

.ro-page-header {
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;

  .ro-header-btns {
    display: flex;
  }
}
