@import "variable";

.g-theme {
  * {
    font-family:
      "Microsoft YaHei",
      Yahei,
      "Helvetica Neue",
      Helvetica,
      Arial,
      "Segoe UI",
      Roboto,
      "Hiragino Sans GB",
      sans-serif;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: @main-border-color;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: @main-light-text-color;
  }

  a {
    transition: none;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
    }

    &:active,
    &:link,
    &:visited {
      text-decoration: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: inherit;
    padding: 0;
    margin: 0;
  }

  input {
    outline: none;
  }

  input::placeholder {
    color: @main-light-text-color;
  }

  small {
    font-size: 100%;
    transform: scale(0.76) translate(-2px, 1px);
    display: inline-block;
  }

  del,
  del * {
    /* Without *, tags inside <del> is not deleted (e.g: <del>100.<small>1234</small></del>) */
    text-decoration: line-through;

    &::before,
    &::after {
      content: "\00a0"; /* Make line-through looks longer */
    }
  }

  menu {
    margin: 0;
    padding: 0;
  }
}
