.print-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.print-temporary-template {
  display: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid red;
  position: absolute;
  z-index: 99;

  &.moving {
    display: block;
  }
}
